/* Homepage */
.region-content .field-name-field-application-screenshots .field-items .field-item img {
  margin: 10px 0; }

.view-id-top_applications_by_interactions .views-row {
  margin-bottom: 15px; }

#zone-header .block-addtoany {
  text-indent: -9999px !important;
  background: none !important; }

.views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0.5em 0.3em 0 0; }

/* activity feed */


.view-interactions{
  .interaction{
    text-transform: lowercase;
    padding: 1px 3px;
    background: #ffffcc;
    color: black;
    .Deployed{
      background: #D0E664;
    }
  }
}



/* Janrain Engage (LinkedIn)
-----------------------------*/
#user-login {
  padding: 20px; }

/* hide login bar links */
#region-content-top .rpx-links,
#region-search-bar .rpx-links {
  display: none; }

/* make linkedin link big on user login */


#user-login{
  li.rpx-link{
    margin-left: 0;
    /* overrides system style */
    font-size: 1em;
    display: block;
    padding: 10px 0;
    br{
      display: none;
    }
  }
  a.rpxnow{
    /* linkedin icon */
    margin-left: 20px;
  }
}



#breadcrumb {
  margin-top: -18px;
  margin-bottom: 0px;
  width: 740px; }


.edit-content-button{
  text-align: right;
  a:hover{
    background: #ddd;
    color: #444;
    text-decoration: none;
  }
  a:link{
    background: #eee;
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
}

/*
Author: Andy Cochran 
Author URI: http://www.openplans.org/team#andy-cochran
*/
/* html5doctor.com Reset Stylesheet \v1.6.1 \ Last Updated: 2010-09-17 \ http://richclarkdesign.com \ @rich_clark */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none;
  margin: 5px 0 5px 50px;
  border-left: 5px solid #cccccc;
  padding-left: 15px; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*
 *
 * Base Typography 
 *
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/*
 *
 * Base Styles 
 *
 */
body, select, input, textarea {
  color: #444;
  font-family: Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0; }

/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

a, a:link, a:active, a:visited {
  color: #246009; }

a:hover {
  color: #c03d1d;
  text-decoration: underline; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0; }

p {
  margin-bottom: 1.5em; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

.view-taxonomy-icons td img,
.view-taxonomy-icons td a,
.view-taxonomy-icons td .field-content {
  text-align: center; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

textarea {
  overflow: auto; }

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/*
 *
 * Structure / Layout
 *
 */
#page {
  width: auto;
  padding: 0; }

aside .content {
  font-size: 12px;
  padding: 9px 9px; }

.block {
  clear: both; }

.block {
  margin-bottom: 20px; }

/*
 *
 * Header
 *
 */
#section-header {
  background: url("../images/header-bg.png") 0 -40px repeat-x; }

#zone-branding-wrapper {
  position: relative;
  padding-top: 0px;
  background: url("../images/header-bg2.png") center 0px no-repeat; }

#zone-branding {
  /*
     background: url('../images/tagline2.png') 248px 29px no-repeat;
   */ }
  #zone-branding .logo-img {
    float: left;
    margin: 0 0 0 -10px;
    padding: 10px 0px 7px 0 !important; }
    #zone-branding .logo-img #logo {
      width: 181px;
      height: 80px; }

.site-name-slogan {
  display: none; }

#region-top-menu {
  margin-right: 0;
  float: right; }

 
.block-nice-menus{
  margin-bottom: 10px;
  ul.nice-menu{
    float: right;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid white;
    li{
      border: 0;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dddddd;
    }
  }
}


ul.nice-menu {
  a {
    display: block;
    height: 31px;
    color: #246009;
    text-decoration: none;
    padding: 0 19px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 whitesmoke;
    border-top: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    &.active {
      background-image: none;
      background-color: #e6e6e6;
      border-color: #b4b4b4;
      color: #246009;
      box-shadow: inset 0 0 5px 0 #a2a2a2;
      -moz-box-shadow: inset 0 0 5px 0 #a2a2a2;
      -webkit-box-shadow: inset 0 0 5px 0 #a2a2a2;
    }
  }
  &:hover a.active:hover {
    background-image: none;
    background-color: #e6e6e6;
    border-color: #b4b4b4;
    color: #246009;
    box-shadow: inset 0 0 5px 0 #a2a2a2;
    -moz-box-shadow: inset 0 0 5px 0 #a2a2a2;
    -webkit-box-shadow: inset 0 0 5px 0 #a2a2a2;
  }
  a:hover {
    background-color: #eaeaea;
    border-color: #eaeaea;
    color: #246009;
    box-shadow: inset 0 0 5px 0 #a2a2a2;
    -moz-box-shadow: inset 0 0 5px 0 #a2a2a2;
    -webkit-box-shadow: inset 0 0 5px 0 #a2a2a2;
  }
  &:hover a.active {
    border-top: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    color: #246009;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

  
.block-nice-menus:first-child ul.nice-menu {
  border: 0;
  margin-top: 24px;
  font-family: Arial, Helvetica, sans-serif;
  li {
    border-right: 0;
    border-bottom: 0;
    background-color: transparent;
    padding-left: 15px;
  }
  a {
    display: block;
    height: auto;
    color: #246009;
    background-color: none;
    background-image: none;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    text-shadow: none;
    border-top: 0;
    border-left: 0;
    border-radius: 4px;
    padding: 4px;
    &:visited {
      display: block;
      height: auto;
      color: #246009;
      background-color: none;
      background-image: none;
      padding: 0;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      text-shadow: none;
      border-top: 0;
      border-left: 0;
      border-radius: 4px;
      padding: 4px;
    }
  }
}  

/* Navigation */
#region-search-bar {
  position: relative; }


body.page-preview {
  #region-search-bar, #breadcrumb {
    display: none;
  }
  #region-content {
    padding: 40px;
    text-align: center;
    width: 920px;
  }
}

body.page-user #breadcrumb {
  margin-top: 0px; }


#region-search-bar {
  .region-search-bar-inner {
    /*  margin-bottom: 3px;  */
    background: url("../images/search-bg.png") center top no-repeat;
    height: 57px;
    font-size: 12px;
    -webkit-box-shadow: 0px 2px 4px #cccccc;
    -moz-box-shadow: 0px 2px 4px #cccccc;
    box-shadow: 0px 2px 4px #cccccc;
  }
  .form-item, .form-actions {
    margin: 0;
    padding: 0;
  }
}

#block-menu-menu-mktplc-section-nav {
  padding: 10px 14px 7px 14px;
  margin-bottom: 5px;
  float: left; }

.add-content-menu {
  float: left;
  padding: 12px 14px; }

.add-content-menu select#edit-jump {
  color: #999;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding: 0 5px;
  margin: 1px 14px 0 0; }

input#edit-go {
  /* this button is hidden via JS but there's a flicker */
  display: none; }

/**
 * General views (generic views) styling
 */
.view .views-field-picture {
  float: left;
  margin: 0 10px 5px 0; }

.view.view-user-views .views-field-name a,
.view .views-field-title a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; }

.view.view-user-views .views-field-created {
  font-size: 12px; }

.view-featured-sites .view-footer p {
  margin-bottom: 0;
  text-align: right; }

/**
 * Search bar region
 */
 
#region-search-bar {
  .section-nav .menu {
    float: left;
    border-right: 1px solid gainsboro;
    padding: 0;
    margin: 0;
    li {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      height: 38px;
      padding: 0 15px;
      line-height: 38px;
      font-sizE: 15px;
      font-weight: bold;
      color: #4CA3D9;
      text-decoration: none;
      border-left: 1px solid gainsboro;
      text-transform: none;
      display: block;
      background: url("../images/nav38px.png") 0 0 repeat-x;
      &:visited {
        height: 38px;
        padding: 0 15px;
        line-height: 38px;
        font-sizE: 15px;
        font-weight: bold;
        color: #4CA3D9;
        text-decoration: none;
        border-left: 1px solid gainsboro;
        text-transform: none;
        display: block;
        background: url("../images/nav38px.png") 0 0 repeat-x;
      }
      &:hover {
        background-image: url("../images/nav-bg-hover38.png");
      }
      &.active {
        background-image: url("../images/nav-bg-selected38.png");
      }
    }
  }
  .block-custom-search-blocks {
    float: left;
    width: 750px;
    margin-bottom: 0;
    clear: none;
    padding-top: 10px;
  }
  input {
    margin: 0;
  }
  .search-form div {
    display: inline;
  }
  .custom-search-box {
    color: #999;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    width: 681px;
    margin: 0 10px 0 0;
    font-style: italic;
    border: 1px solid #eeeeee;
    border-top: 2px solid #dddddd;
  }
  .form-submit {
    height: 38px;
    width: auto;
  }
}

.front .region-content-top-inner {
  padding: 10px 0;
  min-height: 0; }

.region-content-top-inner {
  padding: 10px 0;
  min-height: 25px; }

#block-cc-helper-cc-breadcrumb {
  margin: 0;
  float: left;
  clear: none; }

.region-content-top-inner {
  min-height: 25px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px; }

#block-cc-helper-cc-breadcrumb .block {
  clear: none; }

#block-system-user-menu {
  clear: both;
  float: right;
  margin-bottom: 0px;
  ul {
    border: 1px solid #e4e4e4;
    list-style: none;
    text-align: left;
    background: #F7F7F7;
    font-style: normal;
    /*  margin-top: 1px; */
  }
  li {
    display: inline;
  }
  a {
    text-decoration: none;
    padding: 1px 3px 1px 3px;
  }
}

#block-user-login,
#block-addtoany-addtoany-button {
  float: right;
  clear: both;
  margin-left: 0em; }

#block-user-login {
  margin-bottom: 0px;
  /* margin-top: -80px */
  /* moves it above search, closer to util bar */ }

#block-addtoany-addtoany-button {
  display: none; }

#block-cc-flag-block-flag-block {
  background: none;
  box-shadow: none;
  margin-bottom: none; }

#block-cc-flag-block-flag-block li {
  display: inline; }

/*
 *
 * Content-type specific layouts
 *
 */
/* override .grid-16 for apps and orgs */
body.node-type-application #region-content,
body.node-type-organization #region-content,
body.node-type-project #region-content,
body.node-type-standard #region-content,
body.node-type-page #region-content {
  width: 630px;
  margin-left: 15px;
  margin-right: 15px; }

body.context-wiki #region-content {
  width: 940px;
  margin-left: 15px;
  margin-right: 15px; }

.page-places #region-content {
  width: 940px;
  margin-bottom: 20px; }

/*
 *
 * Content
 *
 */
.breadcrumb {
  font-size: 12px; }

#section-content {
  font-size: 15px; }

body.front #region-content {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-size: 20px;
  text-align: center; }

.page-node #section-content .tabs {
  display: block; }

#page-title {
  font-size: 40px;
  margin-bottom: 10px; }

.block-title h2 a {
  color: #ffffff;
  text-decoration: none; }

.view-at-a-glance-project .views-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px; }


.view-at-a-glance-project {
  .views-field-field-members, 
  .views-field-field-sanitation-category, 
  .views-field-field-application-softfunction, 
  .views-field-field-application-tags, 
  .views-field-field-rating {
    margin-top: 9px;
  }
}

.block-title h2,
h2.block-title,
#region-content .field-label {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #246009;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 10px;
  padding: 0 0.8em;
  border-top: 1px solid #99c5ff;
  border-right: 1px solid #5684bf;
  border-bottom: 1px solid #5684bf;
  border-left: 1px solid #99c5ff;
  background-image: url("../images/greenhead.png"); }

h2.block-title {
  font-size: 16px;
  letter-spacing: 1px;
  border-style: none;
  text-align: left;
  font-family: Oswald; }

#block-views-places-block-3 h2.block-title {
  margin-bottom: 5px; }

#region-content .field-label {
  margin-top: 20px; }

.region-content-inner {
  margin-bottom: 0px; }

.region-content-inner p {
  margin-bottom: .8em; }

.item-list ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 10px;
  margin: 0 0 10px; }

#region-sidebar-second .item-list ul li {
  border: none;
  margin: 0 0 2px;
  padding: 0 0 2px;
  list-style: inside; }

  
.item-list {
  .architecture-fields {
    li, ul li {
      border: none;
      list-style-type: square;
    }
  }
  .architecture-content-types {
    li, ul li {
      border: none;
      list-style-type: square;
    }
  }
  .architecture-fields {
    li, ul li {
      padding-bottom: 0px;
      margin-bottom: 3px;
    }
  }
}

/* List: By Place */

.places-list-container {
  margin-bottom: 20px;
  .view-content {
    margin-bottom: 10px;
  }
  .views-field-field-organization-address {
    font-weight: bold;
  }
  td {
    border-bottom: 1px dashed #eeeeee;
    padding: 5px 0;
    clear: both;
    > div {
      /*float: left;
      width: 48%;
      margin-right: 2%;
      */
    }
  }
}

.front .places-list-container .views-field-field-organization-address {
  float: left;
  width: 230px; }

.front .using-sharing {
  float: right;
  width: 260px; }

.places-list-container td div {
  display: inline; }

.views-field-field-organization-address a {
  font-size: 16px;
  text-decoration: none; }

.view-at-a-glance .cc-org-apps,
.cc-org-apps {
  /*  width: 100px;*/
  float: left;
  width: 50%; }

.view-at-a-glance .cc-org-details-title {
  font-weight: bold;
  font-size: 14px; }

.page-places .cc-org-apps {
  width: inherit; }

.cc-org-apps > div {
  /*margin-right: 0.3em;*/ }

.cc-org-prefix-using,
.cc-org-prefix-sharing {
  /*  padding-left: 4px; */
  font-size: 12px;
  /*  width: 20px;*/
  display: inline-block;
  height: 20px;
  float: left; }

.view-at-a-glance .views-field-field-organization-address-2 .field-content, .page-places .views-field-field-organization-interactions .field-content,
.page-places .views-field-field-organization-address-2 .field-content, .page-places .views-field-field-organization-interactions .field-content {
  width: 440px;
  color: #666;
  line-height: 2;
  display: block;
  margin-left: 0;
  clear: left;
  background: #F8F8F8;
  border: 1px solid #e4e4e4;
  height: 20px;
  margin-top: 18px;
  background: #f8f8f8 url("../images/icon_place_18_gray.png") 1px 1px no-repeat;
  padding: 0px 0px 0px 20px; }

.page-places .views-field-field-organization-address-2 .field-content {
  padding: 0px 0px 0px 18px; }

.view-at-a-glance .views-field-field-organization-interactions .field-content,
.page-places .views-field-field-organization-interactions .field-content {
  background: #f8f8f8 url("../images/civic-18.png") 1px 1px no-repeat; }

.view-at-a-glance .company .views-field-field-organization-interactions .field-content,
.page-places .company .views-field-field-organization-interactions .field-content {
  background: #f8f8f8 url("../images/bldg-grey.gif") 1px 1px no-repeat; }

.view-at-a-glance .view-id-places .views-row,
.page-places .view-id-places .views-row {
  border-bottom: none; }

.view-at-a-glance .cc-org-prefix-sharing:after,
.view-at-a-glance .cc-org-prefix-using:after {
  content: ": ";
  padding-right: 10px; }

.page-places .cc-org-prefix-using {
  background: url("../images/hammer-wrench-active-18.png") 3.4em 2px no-repeat;
  padding-right: 2.4em;
  border-left: 1px solid #e4e4e4;
  padding-left: 4px; }

/* .view-at-a-glance .cc-org-prefix-sharing, */
.page-places .cc-org-prefix-sharing {
  background: url("../images/gov-gov-gray-18.png") 4.3em 2px no-repeat;
  padding-right: 2.0em;
  border-left: 1px solid #e4e4e4;
  padding-left: 4px; }

.view-at-a-glance .cc-org-count,
.page-places .cc-org-count {
  font-size: 12px;
  margin-right: 7px;
  float: left; }

.view-at-a-glance .cc-using,
.view-at-a-glance .cc-sharing,
.page-places .cc-using,
.page-places .cc-sharing {
  height: 20px; }

.view-at-a-glance .cc-org-postfix,
.cc-org-postfix {
  display: none;
  font-size: 0px; }

.view-at-a-glance .view-id-places .cc-org-apps,
.page-places .view-id-places .cc-org-apps {
  margin-right: 0px; }

.view-at-a-glance .field-content {
  margin-bottom: 20px; }


/* List: By Function */
.functions-list-container {
  margin: 10px 0;
  /*width: 940px;
  clear: both;*/ }

.browse-by-grid {
  padding-top: 10px;
  font-size: 12px;
  color: #666;
  padding-left: 24px;
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
  }
  td {
    background: white !important;
    padding: 0 10px 20px 0;
  }
}
/* Views Rows */
.views-row {
  margin: 0 0 20px;
  color: #666;
  position: relative; }

.views-row .views-field-field-problem-name .field-content {
  white-space: pre;
  /* CSS2 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP printers */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

.view-at-a-glance-problem .views-row .views-field-field-problem-url-1 {
  margin-top: 0!important; }

.view-at-a-glance-problem .views-row .views-field {
  margin: 8px 0 0 0; }

.views-row .views-field-edit-node {
  background-color: #EEEEEE;
  border: 1px solid #f2f2f2;
  float: right;
  margin: 8px 0 0;
  padding: 0 3px 3px; }

.views-row .views-field-edit-node a {
  color: #605859;
  text-decoration: none; }

.views-row:before, .views-row:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.views-row:after {
  clear: both; }

.views-row {
  zoom: 1; }

/* List: Apps */
.apps-list {
  margin: 20px 0; }

.views-field-field-application-logo {
  float: left;
  width: 60px;
  margin-right: -60px; }


.apps-list {
  .views-field-field-application-sdesc, .views-field-field-interaction-organization {
    margin-left: 70px;
  }
  .views-field-title {
    padding-top: 5px;
    a {
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .views-field-field-application-sdesc {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

  
.meta {
  color: #666;
  font-size: 12px;
  text-align: center;
  line-height: 2;
  display: block;
  margin-left: 0;
  clear: left;
  background: #F8F8F8;
  border: 1px solid #e4e4e4;
  height: 24px;
}

.apps-list .meta {
  a {
    text-decoration: none;
  }
  .civic-function, .places-used, .date-updated {
    margin: 0 5px;
  }
  span.civic-function {
    float: right;
  }
}

.apps-list span.places-used {
  font-weight: bold;
  float: left;
  border-right: 1px solid #e4e4e4;
  padding-right: 12px;
  width: 100px; }

.apps-list span.date-updated {
  float: left; }

/* List: Recent Activity */
  
.view-interactions {
  .views-row {
    margin-bottom: 12px;
  }
  a {
    text-decoration: none;
  }
  .org-name {
    font-weight: bold;
    /*font-size: 16px;
    font-weight: bold;
    text-decoration: none;*/
    a {
      font-weight: bold;
      /*font-size: 16px;
      font-weight: bold;
      text-decoration: none;*/
    }
  }
  .app-name {
    font-weight: bold;
    a {
      font-weight: bold;
    }
  }
}

/* List: Related Apps */
.view-related-apps-block view-empty {
  display: none; }

/* Block: Preview Intro */
.preview-intro {
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 8px 1px #ded8d8;
  -webkit-box-shadow: 0 1px 8px 1px #ded8d8;
  box-shadow: 0 1px 8px 1px #ded8d8; }

/* Block: Preview Intro */
.preview-intro {
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 8px 1px #ded8d8;
  -webkit-box-shadow: 0 1px 8px 1px #ded8d8;
  box-shadow: 0 1px 8px 1px #ded8d8; }

/* Block: Add to the Marketplace */
.block.add-to-marketplace {
  font-size: 12px;
  padding: 0 10px; }

.block.add-to-marketplace,
.block.highlight,
#region-sidebar-second .block {
  background-color: #FBFBFB;
  /* to mimic the color of the foil: background-color: #FBF6DD; */
  -moz-box-shadow: 0 1px 8px 1px #ded8d8;
  -webkit-box-shadow: 0 1px 8px 1px #ded8d8;
  box-shadow: 0 1px 8px 1px #ded8d8; }

.add-to-marketplace,
.edit_block,
.block-cc-editing,
.block-cc-api {
  border: 3px dashed #c3c8cd;
  text-align: center; }

.region-sidebar-second .add-button,
.add-to-marketplace .add-button,
.edit_block .add-button,
.block-cc-editing .add-button {
  display: block;
  background-image: url("../images/buttonbg2.png");
  width: 220px;
  height: 22px;
  margin: auto;
  text-align: center;
  padding: 8px 0px 8px 0px;
  font-weight: normal;
  font-family: Helvetica, Arial;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  margin-bottom: 3px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
  -moz-box-shadow: 2px 2px 3px #aaaaaa;
  box-shadow: 2px 2px 3px #aaaaaa;
  border: 2px solid #cb2a3c;
  border-bottom: initial;
  border-top: 1px solid #ac2b3f;
  border-right: 2px solid #ac2b3f; }

.block.add-to.marketplace div, .block.edit_block div {
  text-align: center;
  display: inline-block;
  margin-left: 52px;
  margin-top: 4px;
  margin-bottom: 10px; }

.block.edit_block p {
  margin-top: 10px;
  margin-bottom: 0px; }

.block.edit_block div {
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 3px 9px; }

.block.add-to-marketplace h2, .block.edit_block h2 {
  color: #555;
  background-image: none;
  background-color: transparent;
  border: none; }

.block.add-to-marketplace li, .block.edit_block li {
  list-style: none; }

.block.add-to.marketplace p,
.block.edit_block p {
  margin: 15px 0px 0px 0px;
  font-size: 1.2em; }

.block-cc-editing {
  font-size: 1.2em;
  text-align: center; }

.block-cc-editing .cc-editing-node-edit-button {
  margin-bottom: 10px; }

.block-cc-editing .cc-editing-node-edit-revision-count {
  font-style: italic; }

.example {
  margin-bottom: 10px; }

.edit_date {
  display: block;
  margin-top: 2px;
  font-style: italic; }

#region-sidebar-second .add-to-marketplace {
  margin-top: -16px; }

.page-taxonomy .add-to-marketplace {
  margin-top: 3px; }

.highlight views-row {
  margin: 0 0 0px; }

.front .add-to-marketplace h2 {
  text-align: center; }

/* Apps & org Pages */
.field-name-field-application-logo,
.field-name-field-organization-logo {
  float: left;
  margin: 0 20px 20px 0; }

.node-type-organization .field-name-field-organization-address {
  margin: 0 0 10px; }

.group_basic_info {
  margin: 0 0 20px; }

#block-views-at-a-glance-application-block .content {
  padding-top: 0;
  list-style: none; }

.views-field-field-application-used-in {
  color: #666;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/icon_place_mini.gif) left center no-repeat scroll;
  padding: 5px 0px 0px 24px;
  margin: 0 0 5px; }

.views-field-field-application-used-in .views-label {
  font-size: 16px; }

.views-field-field-application-used-in div {
  display: inline; }

#block-views-at-a-glance-application-block .view-header p {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 10px;
  margin: 0 0 10px; }

#block-views-at-a-glance-application-block .view-header .cc-places-count {
  padding: 0 0.2em; }

#block-views-at-a-glance-application-block {
  .views-field-php, .views-field-field-application-reqs, 
  .views-field-field-application-hosturl, 
  .views-field-field-application-deliverymeth, 
  .views-field-field-application-license, 
  .views-field-field-application-rlss, 
  .views-field-nothing {
    border-top: 1px solid #eeeeee;
    margin: 0 0 10px;
    padding: 10px 0 0;
    display: block;
  }
}

#block-views-cc-organizations-block {
  margin-top: 20px; }

.views-label {
  font-size: 14px;
  font-weight: bold; }

#block-views-at-a-glance-application-block ul div {
  display: inline;
  margin-right: 0.2em; }

/* Places Page */

.view-id-places {
  .view-content {
    margin-bottom: 10px;
  }
  .views-row {
    border-bottom: 1px dashed #eeeeee;
    padding: 10px 0;
    margin-bottom: 10px;
    > div {
      /*float: left;
      width: 48%;
      margin-right: 2%;*/
    }
    div {
      /*  display: inline; */
      &.views-field-title {
        display: block;
        font-weight: bold;
      }
    }
  }
  a {
    font-size: 16px;
    text-decoration: none;
  }
  .views-row div.location {
    display: block;
  }
  .using-sharing {
    display: inline;
  }
  .cc-org-apps {
    /*float: left;
    width: 48%;
    margin-right: 2%;*/
    float: none;
    display: inline-block;
    margin-right: 10px;
  }
}
/* Applications Page */
  
.page-applications {
  #region-content {
    width: 940px;
  }
  #region-content-leftcolumn, #region-content-leftcolumn-lower {
    float: left;
    clear: left;
  }
  #region-content-rightcolumn, #region-content-rightcolumn-lower {
    float: right;
    clear: right;
  }
}

/**
 * Footer
 */
footer#section-footer {
  background-color: #FFFFFF;
  color: #A5A5A5;
  margin: 40px 0 0;
  padding: 20px 0; }

.zone-bottom-footer h2.block-title,
footer#section-footer h2.block-title {
  color: #44484F;
  text-align: center;
  background: transparent;
  font-size: 18px;
  text-transform: none;
  padding: 0;
  border: 0; }

footer#section-footer a:link,
footer#section-footer a:visited {
  color: #a5a5a5; }

footer#section-footer a:hover {
  color: #cacaca; }

#zone-footer-wrapper {
  background-color: #44484F;
  padding: 20px 0 0 0; }

#zone-bottom-footer-wrapper {
  background-color: #ffffff; }

#zone-bottom-footer p {
  margin-bottom: 0; }

#block-cc-helper-cc-footer-logo-links h2.block-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: -moz-use-text-color;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: none;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 0;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: -moz-use-text-color;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: none;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 0;
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: 0;
  color: #A5A5A5;
  font-size: 18px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  text-transform: none; }

/**
*  by paul
*/
  
#block-menu-menu-footer-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 626px;
  ul {
    &.menu, &.links.menu {
      display: inline;
      padding-left: 0;
    }
    &.menu {
      border: medium none;
      list-style: none outside none;
      text-align: left;
    }
  }
  .menu {
    margin: 0;
  }
  ul {
    &.menu a, &.links.menu a {
      text-decoration: none;
    }
  }
}

/**
 * OpenLayers maps styling
 */

body {
  .openlayers-map .olControlAttribution {
    right: inherit;
    left: 5px;
    background-color: rgba(15, 15, 15, 0.5);
    color: #EEEEEE;
    padding: 5px;
    font-size: 10px;
    border-radius: 3px;
  }
  .openlayers-views-map .olControlAttribution a {
    color: #EEEEEE;
    font-size: 10px;
    font-weight: bold;
  }
  .openlayers-map {
    .olControlPermalink {
      right: 5px;
      bottom: 5px;
      background-color: rgba(15, 15, 15, 0.5);
      color: #EEEEEE;
      padding: 5px;
      font-size: 10px;
      border-radius: 3px;
      a {
        color: #EEEEEE;
        font-size: 10px;
        font-weight: bold;
      }
    }
    .olFramedCloudPopupContent {
      border-radius: 5px;
      color: #EEEEEE;
      a {
        color: #EEEEEE;
      }
    }
    img.olImageLoadError {
      background-color: transparent;
    }
  }
}


.view-id-problem_definitions_map {
  position: relative; 
  .view-footer {
    position: absolute;
    bottom: -4px;
    right: 13px; 
  }
}

.view-id-cc_hackathon_sites_map .attachment-after {
  position: relative;
  top: -64px;
  right: 13px;
  text-align: right;
  height: 5px; }

/**
 * Home page
 */
/**
 * Recent activity block
 */
#block-views-interactions-block,
#block-views-interactions-block-1 {
  height: 31em; }

#block-views-interactions-block-1 .block-inner {
  padding-top: 50px; }

#block-views-interactions-block .content {
  padding: 10px 0; }

#block-block-22 .block-inner .content {
  background: transparent;
  border: none;
  color: black;
  text-align: left;
  text-transform: none;
  font-size: 1.3em;
  font-weight: 100;
  margin: 0;
  font-family: 'PT Sans';
  line-height: 1.3em; }

#block-block-22 .block-inner .content a {
  text-decoration: none; }

body.front #block-system-main {
  margin: 0; }

body.front #page-title {
  font-size: 53px;
  margin: 0;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: -10px;
  text-align: left;
  font-weight: normal;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: -1px; }

body.front #zone-content .region-content {
  /*background: transparent url('../images/hammer.jpg') 40px 1em no-repeat;
  background: transparent url('../images/gov-gov-gray-100.png') 70px 44px no-repeat;*/ }

/**
 * Browse places block
 */

.view-apps-browse-by {
  h2.block-title {
    margin-bottom: 1em;
    .browse {
      width: 370px;
      display: inline-block;
    }
  }
  .block-title {
    .using {
      width: 125px;
      display: inline-block;
    }
    .created {
      width: 110px;
      display: inline-block;
    }
  }
  .views-field-field-organization-address-2 .cc-org-apps {
    /*background: transparent url('../images/created-inactive.png') top left no-repeat;*/
    /*height: 44px;*/
    padding: 0px;
    margin: 0px;
    &:first-child {
      /*background: transparent url('../images/hammer-wrench-inactive.png') top left no-repeat;*/
    }
    .cc-org-prefix-using {
      color: transparent;
      background: transparent url("../images/hammer-wrench-active-24.png") 12px 0 no-repeat;
      width: 40px;
      height: 24px;
      /*height: 44px;*/
      display: block;
      float: left;
      margin-right: 5px;
      font-size: 0;
    }
    .cc-org-prefix-sharing {
      color: transparent;
      background: transparent url("../images/hammer-wrench-active-24.png") 12px 0 no-repeat;
      width: 40px;
      height: 24px;
      /*height: 44px;*/
      display: block;
      float: left;
      margin-right: 5px;
      font-size: 0;
      /*background: transparent url('../images/created-active.png') top left no-repeat;*/
      background: transparent url("../images/gov-gov-gray-24.png") 12px 0 no-repeat;
    }
    .cc-org-count {
      /*padding-top: 3px;
      font-size: 2em;*/
      font-size: 1.2em;
      padding: 0;
      line-height: 1.2em;
      color: #777777;
    }
    .cc-org-postfix {
      display: none;
    }
  }

  .views-field-field-organization-address {
    /*line-height: 44px;
    margin-left: 10px;*/
  }
  .view-footer a {
    display: block;
    float: right;
    width: 125px;
    border: 1px solid #e4e4e4;
    background-color: #F7F7F7;
    color: #222222;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: .8em;
  }
}

.context-places .views-field .views-field-php .cc-org-apps {
  color: red; }

.beta {
  position: absolute;
  vertical-align: top;
  width: 996px;
  padding: 4px 0px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -147px;
  margin-bottom: 0;
  font-family: "PT Sans", Helvetica, Arial;
  font-size: 1.2em;
  span {
    background: #dcdbdb;
    padding: 4px;
    opacity: 0.8;
  }
  a {
    margin-left: 10px;
    background: #dcdbdb;
    padding: 4px 6px 4px 4px;
    opacity: 0.8;
  }
  .build {
    /*margin-left: 217px;*/
    float: right;
    margin-right: 46px;
  }
}


.construction {
  float: left; }

.beta .red {
  color: #C33;
  margin-right: 5px; }

/* Search Page */

.page-search {
  #page-title {
    font-size: 1em;
    margin-top: 15px;
    border-left: 1px solid #dddddd;
    padding-left: 3px;
    color: #aaa;
    visibility: hidden;
    display: none;
  }
  ul, ol {
    margin-left: 0px;
  }
  .refine-search .form-item-custom-search-blocks-form-2 {
    display: none;
  }
  #block-system-main {
    border-left: 1px solid #dddddd;
    padding-left: 13px;
  }
  #block-custom-search-blocks-2 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
  }
  .form-item {
    label.option {
      font-size: 1.3em;
      padding-bottom: 5px;
    }
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.form-actions {
  margin-top: 0px;
  margin-bottom: 5px;
}
  
.refine-search {
  padding: 0px 9px 0px 9px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  background: white; }
/*
#
# Interaction Node view
#
*/
body.node-type-interaction h1#page-title {
  display: none; }

article.node-interaction {
  padding-top: 25px; }

#region-content .field-label-inline .field-label {
  background: none;
  padding: 0 15px 0 0;
  color: #333;
  margin: 0;
  width: 120px;
  font-size: auto;
  letter-spacing: 0;
  text-transform: none;
  line-height: inherit;
  border: none !important;
  font-size: inherit;
  font-weight: bold;
  text-align: right; }

/**
 * Profile and User Register
 */
#region-content .profile h3 {
  margin-top: 2em; }

.profile .user-picture {
  float: none; }

/* Hide Vertical tabs on register page */
#user-register-form .vertical-tabs {
  margin-left: 0; }

#user-register-form .vertical-tabs .vertical-tabs-list {
  display: none; }

/**
 * Story content type
 */
.node .field-name-field-story-image {
  float: right;
  margin: 0 10px 10px 10px; }

/**
 * Engagement Commons
 */

.ec-stories #block-block-36 {
  margin-bottom: 20px; }

.ec-stories #region-sidebar-second {
  margin-top: 16px; }

.ec-stories h1#page-title {
  display: inline; }

.ec-stories footer.submitted {
  font-size: 100%;
  font-style: italic;
  margin-bottom: 10px; }

#views_slideshow_cycle_teaser_section_engagement_commons_page-page {
  width: 940px;
  background-color: #246009; }

.engagement-commons {
  #breadcrumb, #block-user-login {
    display: none;
  }
  #region-sidebar-second {
    margin-top: 16px;
  }
  #block-block-36 {
    height: 125px;
    margin-top: 5px;
    background: transparent url("../images/engagement_commons/eg-banner.png") top left no-repeat;
    color: transparent;
    padding-bottom: 0px;
    border-bottom: 5px solid #246009;
    margin-bottom: 0px;
  }
  .block #block-block-36 {
    margin-bottom: 0px;
  }
  h1#page-title {
    display: none;
  }
  #region-sidebar-second {
    .add-to-marketplace {
      margin-top: 0px;
    }
    margin-top: 0px;
  }
  .views-row {
    margin: 10px 0 30px;
  }
  .engagement-commons-slide-row {
    margin-top: 0px;
  }
  .view-id-engagement_commons_page view-display-id-block_2 {
    height: 300px;
    overflow: hidden;
  }
  #block-views-engagement-commons-page-block-2 {
    margin-bottom: 0;
    height: 300px;
    overflow: hidden;
    h2.block-title {
      display: none;
    }
  }
  .view-engagement-commons-page .views-slideshow-cycle-main-frame {
    color: #FFFFFF;
    text-decoration: none;
    .views-row, a {
      color: #FFFFFF;
      text-decoration: none;
    }
    .views-field-nothing, .views-field-title a, .views-field-field-story-apps {
      width: 300px;
      color: #222222;
      position: absolute;
      top: 50px;
      right: 0;
      text-align: right;
      padding-right: 20px;
    }
    .views-field-title a {
      font-size: 2.25em;
      font-weight: bold;
      text-transform: uppercase;
      top: 100px;
      padding: 10px 20px 10px 20px;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.7);
      line-height: 1.2em;
    }
    .views-field-field-story-apps {
      color: #666666;
      top: 80px;
      .views-label {
        font-weight: normal;
      }
      a {
        color: #666666;
        font-weight: bold;
      }
    }
    .views-field-nothing {
      text-transform: uppercase;
      padding: 10px 20px 0 20px;
      color: #666666;
      height: 40px;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  #zone-header #block-system-user-menu {
    display: none;
  }
  #block-menu-menu-mktplc-section-nav {
    margin-bottom: 2px;
  }
  #block-block-37 {
    font-size: 1.25em;
    h2.block-title {
      color: #0d59ac;
      background: none;
      border: none;
      padding: 0;
      text-transform: none;
      font-size: 1.25em;
    }
  }
  .view-engagement-commons-page.view-display-id-block_1 {
    td {
      width: 25%;
      padding: 10px;
      text-align: center;
    }
    .views-field-field-application-logo {
      float: none;
      margin: 0 auto;
      width: auto;
    }
    .views-field-field-story-apps {
      .views-label {
        color: #666666;
        font-weight: normal;
        font-size: .85em;
      }
      .field-content {
        display: inline;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .view-id-engagement_commons_page.view-display-id-page .views-field-field-story-image {
    float: left;
    margin: 0 20px 5px 0;
  }
  .feed-icon {
    display: none;
  }
  .grid-11 .view-id-engagement_commons_page {
    .view-content {
      padding: 0.08em 0.8em;
    }
    .views-field-title .field-content a {
      font-family: "PT Sans", Helvetica, Arial;
      font-size: 1.5em;
      font-weight: normal;
    }
  }
}

/**
 * Problem page.
 */
  
#block-views-problems-block {
  position: relative;
  .feed-icon {
    position: absolute;
    top: 4px;
    right: 3px;
  }
  .view-footer {
    color: #FFF;
    position: absolute;
    top: 5px;
    right: 30px;
  }
}

/**
 * Application Views
 */
  
.view-content {
  thead th, .cols-5 tr td {
    padding: 3px 18px 3px 3px;
  }
  .cols-4 tr {
    td {
      padding: 3px 18px 3px 3px;
    }
    .views-field-comment-count {
      text-align: center;
    }
  }
  .cols-5 tr {
    .views-field-field-application-rating, .views-field-field-rating {
      text-align: center;
      padding: 3px 5px 3px 5px;
    }
  }
  .cols-4 tr .views-field-field-problem-rating {
    text-align: center;
    padding: 3px 5px 3px 5px;
  }
}

.view-id-applications.view-display-id-block_8 .meta td {
  display: none; }

.view-top-applications-by-interactions {
  .views-field-field-application-logo {
    margin: 0 10px 5px 0;
    float: left;
  }
  .views-field-nid {
    font-size: .85em;
  }
  .views-field-field-application-sdesc {
    margin-left: 70px;
    font-size: .85em;
  }
}

/**
 * Organization Views
 */
.view-top-organizations-by-interaction .views-row .views-field {
  float: left;
  width: 210px; }

.view-top-organizations-by-interaction .views-row .views-field-nid {
  width: 60px;
  text-align: right; }

/**
 * Three column regions.  They get their heights shared.
 */
.region-content-main-left #block-views-interactions-block .content {
  padding: 0; }

.container-16 .grid-5.region-content-main-left,
.container-16 .grid-5.region-content-main-middle,
.container-16 .grid-5.region-content-main-right {
  width: 300px; }

.region-content-main-left .view,
.region-content-main-middle .view,
.region-content-main-right .view {
  position: relative;
  margin: 0;
  padding: 0 0.8em; }

.region-content-main-left .view .item-list,
.region-content-main-middle .view .item-list,
.region-content-main-right .view .item-list,
.region-content-main-right .view .view-footer,
.region-content-main-middle .view .view-footer,
.region-content-main-left .view .view-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.region-content-main-left .view .views-row-last,
.region-content-main-middle .view .views-row-last,
.region-content-main-right .view .views-row-last {
  padding-bottom: 30px; }

/**
 * User Actions Block
 */

#block-cc-actions-cc-actions {
  li {
    display: block;
    &.cc-actions-my-account .top-level-item {
      background: url("../images/greenhead.png") repeat scroll 0 0 #246009;
      margin-bottom: 0;
    }
  }
  .top-level-item, li.first {
    background-repeat: no-repeat;
  }
  .top-level-item {
    background: url("../images/greenhead.png") repeat scroll 0 0 #246009;
  }
}

.view-top-applications-by-interactions {
  .views-field-field-application-logo {
    margin: 0 10px 5px 0;
    float: left;
  }
  .views-field-nid {
    font-size: .85em;
  }
  .views-field-field-application-sdesc {
    margin-left: 70px;
    font-size: .85em;
  }
}

.node-type-story .user-picture {
  display: none; }

#block-custom-search-blocks-1 {
  margin-left: 90px; }

/**
 * Recent Stories on Homepage Block
  */
.views-field-field-story-image {
  float: left;
  margin-right: 40px; }

.views-field-field-story-image .views-field-title a {
  font-size: 22px; }

h1.architecture-entity {
  font-size: 24pt;
  text-transform: uppercase;
  margin-top: 10px; }

h2.architecture-bundle {
  font-size: 18pt;
  margin-top: 6px; }

/* footer logo links */
#block-cc-helper-cc-footer-logo-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 930px; }

#worldbank, #eirene, #cat_lover, #rhok {
  margin: 0 25px; }

/* Solr search bar */
#region-search-bar .form-submit {
  background: url("../images/search_gray_btn.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  color: transparent;
  height: 38px;
  margin-top: 5px;
  width: auto;
  text-shadow: none;
  border-radius: 0; }

#region-search-bar input#edit-term {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #dddddd #eeeeee #eeeeee;
  border-image: none;
  border-style: solid;
  border-width: 2px 1px 1px;
  color: #999999;
  font-size: 15px;
  font-style: italic;
  height: 38px;
  line-height: 38px;
  margin: 5px 4px 0 15px;
  width: 760px; }

#views-exposed-form-solr-search-page {
  padding: 0 40px; }

#user-login-form {
  font-size: 12px; }

#block-views-exp-solr-search-page .views-exposed-form label {
  display: none; }

html.js #block-views-exp-solr-search-page input.form-autocomplete {
  background-image: url("../images/throbber3.gif") !important;
  background-position: 99% 8px !important;
  background-repeat: no-repeat; }

html.js #block-views-exp-solr-search-page input.throbbing {
  background-position: 99% -32px !important; }

body.context-users #region-sidebar-second {
  margin-top: 112px; }

/* Craig's changes */
.region-sidebar-second .add-button,
.add-to-marketplace .add-button,
.edit_block .add-button,
.block-cc-editing .add-button {
  background-color: #C25837;
  font-family: Oswald;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 19px;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 10px;
  border-style: none;
  border-color: #C25837;
  background-image: none; }

h1.title.test {
  font-family: Oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: #246009;
  font-size: 39px; }

.view-applications div.view-header,
.view-projects div.view-header,
.view-problems div.view-header {
  background: transparent;
  border: none;
  color: black;
  text-align: left;
  text-transform: none;
  font-size: 1.3em;
  font-weight: 100;
  margin: 0;
  font-family: 'PT Sans';
  line-height: 1.3em; }

li.menu-2828.menu-path-problems.even a {
  color: #246009; }

li.menu-2496.menu-path-node-16036.odd.last a {
  color: #246009; }

div.field-item.even p {
  font-family: PT Sans;
  color: #000000; }

div.field-item.even p strong {
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  border-color: #bf34bf;
  border-top-width: 1px; }

/* Style listings at bottom of problems and projects listing pages */
.view-projects-all.view-id-projects_all,
.view-problems.view-display-id-block {
  font-family: PT Sans;
  font-weight: normal; }

.view.view-projects-all.view-display-id-block .views-field-title a,
.view.view-problems.view-display-id-block .views-field-title a {
  font-weight: normal; }

.view.view-projects-all.view-display-id-block th.views-field-title a,
.view.view-problems.view-display-id-block th.views-field-title a {
  font-weight: bold;
  font-size: 10pt; }

.view.view-projects-all.view-display-id-block .views-field-created,
.view.view-problems.view-display-id-block .views-field-created {
  font-size: 10pt;
  white-space: nowrap; }

.view.view-projects-all.view-display-id-block thead,
.view.view-problems.view-display-id-block thead {
  font-size: 10pt; }

.view.view-projects-all.view-display-id-block .views-field-field-small-icon,
.view.view-problems.view-display-id-block .views-field-field-small-icon {
  margin-right: 10px; }

.view-projects-all.view-display-id-block th,
.view-problems.view-display-id-block th {
  text-transform: uppercase;
  font-weight: bold; }

.hackathon-rating-avg {
  color: #246009;
  font-size: 16pt; }

.view-project-categories, 
.view-problem-categories {
  font-family: PT Sans;
  color: #246009;
  text-transform: uppercase;
  font-size: 9pt;
  text-decoration: none;
  white-space: nowrap;
  a {
    font-family: PT Sans;
    color: #246009;
    text-transform: uppercase;
    font-size: 9pt;
    text-decoration: none;
    white-space: nowrap;
  }
}
.view-project-categories .views-row,
.view-problem-categories .views-row {
  margin: 0 0 5px; }
  
.view-content {
  .cols-5 tr td .view-project-categories.view-id-project_categories {
    &.view-display-id-block_2 tr td, &.view-display-id-block_3 tr td {
      width: 21px;
      padding: 3px 0px 3px 0px;
    }
  }
  .cols-4 tr td .view-problem-categories.view-id-problem_categories.view-display-id-block_1 tr td {
    width: 21px;
    padding: 3px 0px 3px 0px;
  }
  .cols-5 tr td .view-project-categories.view-id-project_categories {
    &.view-display-id-block_2 table, &.view-display-id-block_3 table {
      width: auto;
    }
  }
  .cols-4 tr td .view-problem-categories.view-id-problem_categories.view-display-id-block_1 table {
    width: auto;
  }
  .cols-5 tr td .view-project-categories.view-id-project_categories {
    &.view-display-id-block_2 tr td img, &.view-display-id-block_3 tr td img {
      width: 21px;
    }
  }
  .cols-4 tr td .view-problem-categories.view-id-problem_categories.view-display-id-block_1 tr td img {
    width: 21px;
  }
}

.view-applications-all.view-display-id-block .view-display-id-block_2 .views-field-field-small-icon,
.view-applications-all.view-display-id-block .view-display-id-block_3 .views-field-field-small-icon,
.view.view-projects-all.view-display-id-block .view-display-id-block_2 .views-field-field-small-icon,
.view.view-projects-all.view-display-id-block .view-display-id-block_3 .views-field-field-small-icon,
.view.view-problems.view-display-id-block .view-display-id-block_1 .views-field-field-small-icon {
  margin-right: 5px; 
}



.block-subscriptions-ui h3 {
  font-size: 14px;
  margin: 15px 0 0 7px;
  color: #666; }

.block-subscriptions-ui .item-list ul {
  margin-left: 10px; }

#application-node-form .vertical-tabs-list li.vertical-tab-button:nth-child(4) {
  display: none; }

/* Temporary until Friday */
#user-profile-form .vertical-tabs-list li.vertical-tab-button:nth-child(2) {
  display: none; }


#block-cc-helper-cc-app-challenge #app-challenge {
  .app-left {
    float: left;
    p.line1 {
      font-family: "PT Sans", Arial;
      font-size: 18px;
      text-align: left;
    }
  }
  .app-right {
    margin-left: 314px;
    p {
      &.line2 {
        font-family: "PT Sans", Arial;
        font-size: 18px;
        text-align: left;
      }
      &.line3 {
        font-family: PT Sans;
        font-size: 18px;
        text-align: left;
      }
    }
  }
}
