/* Static View-only Star Version */
.fivestar-greenstars div.fivestar-widget-static .star {
  width: 21px;
  height: 21px;
  background: url(greenstar.png) no-repeat 0 0px;
}

.fivestar-greenstars div.fivestar-widget-static .star span.on {
  background: url(greenstar.png) no-repeat 0 -42px;
}

.fivestar-greenstars div.fivestar-widget-static .star span.off {
  background: url(greenstar.png) no-repeat 0 0px;
}

/* Javascript Star Version */
.fivestar-greenstars div.fivestar-widget .cancel,
.fivestar-greenstars div.fivestar-widget .star {
  width: 21px;
  height: 21px;
}
.fivestar-greenstars div.fivestar-widget .cancel,
.fivestar-greenstars div.fivestar-widget .cancel a {
  background: url(greenstar-cancel.png) no-repeat 0 0;
}

.fivestar-greenstars div.fivestar-widget .star,
.fivestar-greenstars div.fivestar-widget .star a {
  background: url(greenstar.png) no-repeat 0 0px;
}

.fivestar-greenstars div.fivestar-widget div.on a {
  background-position: 0 -21px;
}
.fivestar-greenstars div.fivestar-widget div.hover a,
.fivestar-greenstars div.rating div a:hover {
  background-position: 0 -42px;
}
