.table-action-button a {
  text-transform: lowercase;
  display: block;
  float: left;
  text-decoration: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0 0.5em 0.5em 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 4px 10px 3px;
  text-shadow: #fff 0 1px 1px;
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

body.front .button {
  min-width: 200px;
  margin: 0 20px 10px 20px;
  text-align: center;
  float: none;
}

a.button {
  color: #fff;
  text-decoration: none;
}

.region-three-33-first .view,
.region-three-33-second .view,
.region-three-33-third .view {
  padding: 0;
}

body.front .block .views-field-field-image {
  width: 55px;
  margin: 0 10px 10px 0;
  float: left;
}

body.front .view .views-field-field-add-deployment-for a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
body.front h2.node-title a {
  text-decoration: none;
}

.view-homepage-latest.view-display-id-block_2 .field-type-image {
  width: 220px;
  margin: 0 10px 10px 0;
  float: left;
}

.region-footer {
  text-align: center;
}
.region-footer .view-content .cols-4 tr td .views-field-field-logo {
}
.region-footer .view-content .cols-4 tr td.col-1,
.region-footer .view-content .cols-4 tr td.col-2,
.region-footer .view-content .cols-4 tr td.col-3 {
  padding-right: 30px;
  padding-bottom: 20px;
}

body.front #region-content form {
  text-align: left;
}