@import url("font-awesome.scss");
/* ============================================================================= Base ========================================================================== */
html { background: white; }

body { font-family: "Lato", sans-serif; font-size: 87.5%; }

.container { max-width: 960px; margin: 0 auto; }

/* ============================================================================= HTML Elements ========================================================================== */
#page-title { color: #2fabe7; margin: 1.5em 0 1em; text-transform: uppercase; }

.front #page-title { display: none; }

.node-teaser h1.node-title { font-size: 1.35em; line-height: 1.2em; }

h2 { color: #2fabe7; font-size: 1.7em; }

h2.block-title { font-size: 2em; font-weight: normal; margin: 1em 0 .5em; }

h2.pane-title { font-weight: normal; margin: 1em 0 .5em; }

.pond-container h2.pane-title, .pond-container h2.block-title, .three-3x33 h2.pane-title, .three-3x33 h2.block-title { margin-top: 0; }

h3 { color: #043852; }

pre, code, tt, samp, kbd, var { font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; }

/* ============================================================================= Wrappers ========================================================================== */
#page-wrapper { border-top: 6px solid #2fabe7; }

#page { position: relative; }

#header-wrapper #header { position: relative; }
#header-wrapper #header .region-header #block-menu-menu-menu-bar { margin: 0; }
#header-wrapper #header .region-header #block-menu-menu-menu-bar h2.block-title { display: none; }
#header-wrapper #header .region-header #block-menu-menu-menu-bar ul.menu { float: right; margin: .5em 5px; padding: 0; }
#header-wrapper #header .region-header #block-menu-menu-menu-bar ul.menu li.leaf { display: inline; font-size: 1em; list-style-type: none; padding: 0 6px; }
#header-wrapper #header .region-header #block-menu-menu-menu-bar ul.menu li.leaf a { white-space: nowrap; }
#header-wrapper #header .region-header #block-views-exp-solr-search-page { float: right; width: auto; }

#secondary-content-wrapper { background-color: #2fabe7; background-image: url(images/frontpage-photo.jpg); background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; color: #fff; }
#secondary-content-wrapper .block { margin-bottom: 0; }
#secondary-content-wrapper .block-content a { color: #043852; }
#secondary-content-wrapper .region { padding: 40px 0 20px 0; }
#secondary-content-wrapper .region-secondary-content .block { *position: relative; *zoom: 1; }
#secondary-content-wrapper .region-secondary-content .block:before, #secondary-content-wrapper .region-secondary-content .block:after { content: ""; display: table; }
#secondary-content-wrapper .region-secondary-content .block:after { clear: both; }
#secondary-content-wrapper .region-secondary-content .block .highlight-text { float: left; width: 66.66667%; margin-left: 0%; margin-right: -66.66667%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; font-size: 1.3em; font-weight: normal; text-shadow: 0 0 3px #000; }
#secondary-content-wrapper .region-secondary-content .block .highlight-button { float: left; width: 33.33333%; margin-left: 66.66667%; margin-right: -100%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; text-align: center; }
#secondary-content-wrapper .region-secondary-content .block .highlight-button a { color: #fff; background: #6edb00; display: inline-block; font-size: 1.5em; font-weight: normal; margin-top: 10%; padding: 10px 20px; }
#secondary-content-wrapper .region-secondary-content .block .highlight-button a:hover { background: #043852; text-decoration: none; }

#main-content { *position: relative; *zoom: 1; margin: 0; }
#main-content:before, #main-content:after { content: ""; display: table; }
#main-content:after { clear: both; }

body.sidebar-second #main-content { padding-right: 20px; }

#nav-wrapper { background: #0d7db3; }
#nav-wrapper .container { position: relative; }

#footer-nav-wrapper { background: #043852; height: 60px; }
#footer-nav-wrapper #block-menu-menu-footer-menu, #footer-nav-wrapper .primary-menu-wrapper { margin: 0; }
#footer-nav-wrapper #block-menu-menu-footer-menu h2.block-title, #footer-nav-wrapper .primary-menu-wrapper h2.block-title { display: none; }
#footer-nav-wrapper #block-menu-menu-footer-menu ul, #footer-nav-wrapper #block-menu-menu-footer-menu li, #footer-nav-wrapper .primary-menu-wrapper ul, #footer-nav-wrapper .primary-menu-wrapper li { margin: 0; padding: 0; list-style-type: none; }
#footer-nav-wrapper #block-menu-menu-footer-menu li, #footer-nav-wrapper .primary-menu-wrapper li { display: inline; }
#footer-nav-wrapper #block-menu-menu-footer-menu li a, #footer-nav-wrapper .primary-menu-wrapper li a { color: #fff; float: left; height: 40px; padding: 20px 15px 0; text-transform: uppercase; }
#footer-nav-wrapper #block-menu-menu-footer-menu li a:hover, #footer-nav-wrapper .primary-menu-wrapper li a:hover { background: #03273a; }

.page-projects h1#page-title { margin: 1em 10px .5em; }
.page-projects .pane-block-8 { font-size: 1.5em; }
.page-projects #content .region h2.block-title { background: #2fabe7; color: #FFFFFF; font-size: 1.25em; margin-top: 0; padding: 5px 10px; text-transform: uppercase; }
.page-projects .view-projects .views-field-title { font-size: 1.15em; font-weight: bold; margin-bottom: .25em; }
.page-projects .view-projects .views-field-field-description { margin-bottom: 1em; }
.page-projects .pane-taxonomy-icons-panel-pane-2 .views-column { float: left; text-align: center; width: 20%; }
.page-projects .pane-taxonomy-icons-panel-pane-3 .views-column { float: left; text-align: center; width: 16.667%; }

/* ============================================================================= Branding ========================================================================== */
#branding { margin: 0; position: absolute; }

#logo { display: inline-block; padding: 15px 0 0 5px; }
#logo img { vertical-align: bottom; }

#name-and-slogan { position: absolute; top: 45px; left: 250px; white-space: nowrap; }
#name-and-slogan h2#site-slogan { color: #6e6e6e; font-style: italic; font-weight: 300 !important; font-size: 18px; margin: 0 0 10px; }

/* ============================================================================= Misc Global Styles ========================================================================== */
.feed-details dt, .feed-details dd { display: inline; margin: 0; }

ul.links { margin: 0; padding: 0; }
ul.links.inline { display: block; }
ul.links li { display: inline; list-style: none; padding: 0 10px 0 0; }

.search-results { margin: 0; }

/* ============================================================================= Regions ========================================================================== */
div.region .block { margin-left: 10px; margin-right: 10px; }

.front #block-system-main { margin-bottom: 0; }

.cfr-pond-header { margin-bottom: 0; }
.cfr-pond-header .panel-pane, .cfr-pond-header .block-inner, .cfr-pond-header h2.block-title { margin-top: 10px; margin-bottom: 0; }
.cfr-pond-header .cfr-pond-container { margin-bottom: 0; }

.cfr-pond-column-content-row1 { margin-bottom: 0; }
.cfr-pond-column-content-row1 h2.block-title { color: #fff; background: #61c200; font-size: 1.5em; margin: 10px 0; padding: 5px 8px; text-align: center; }
.cfr-pond-column-content-row1 a:link, .cfr-pond-column-content-row1 a:visited { color: #2fabe7; }
.cfr-pond-column-content-row1 .block { margin-bottom: 0; }

.cfr-pond-column-content-row2 { margin-bottom: 0; }
.cfr-pond-column-content-row2 h2.block-title { margin-top: 0; }
.cfr-pond-column-content-row2 .cfr-pond-column .panel-pane { margin-bottom: 0; }

.cfr-pond-middle { margin-bottom: 0; }
.cfr-pond-middle h2.block-title { margin-top: 0; margin-bottom: .5em; }

.cfr-pond-footer { margin-bottom: 0; }
.cfr-pond-footer .view-blog .views-row { border: none; }
.cfr-pond-footer h2.block-title { margin-top: 0; }

/* ============================================================================= Links ========================================================================== */
a { text-decoration: none; }
a:link, a:visited { color: #54a800; }
a:hover, a:focus { text-decoration: underline; color: #6edb00; }

/* ============================================================================= Primary, Secondary and Menu Bar region menus ========================================================================== */
#menu-bar { background: #0d7db3; height: 50px; line-height: 50px; margin: 0; }
#menu-bar #block-menu-block-1 { display: inline-block; }
#menu-bar #block-menu-block-1 li.leaf a { color: #fff; border-right: 1px solid #0d7db3; font-weight: normal !important; text-transform: uppercase; font-size: 1.2em; }
#menu-bar #block-menu-block-1 li.leaf a:hover { -webkit-box-shadow: #043852 0 0 12px inset; -moz-box-shadow: #043852 0 0 12px inset; box-shadow: #043852 0 0 12px inset; }
#menu-bar #block-menu-block-1 li.leaf a.active { -webkit-box-shadow: #043852 0 0 12px inset; -moz-box-shadow: #043852 0 0 12px inset; box-shadow: #043852 0 0 12px inset; color: #6edb00; }
#menu-bar #block-system-main-menu { margin: 0; float: left; }
#menu-bar #block-block-3 { float: right; margin: 0 20px 0 0; max-height: 50px; }
#menu-bar #block-block-3 p { margin: 0; }
#menu-bar #block-block-3 p a { color: #fff; font-size: 26px; margin: 0 10px; }
#menu-bar #block-block-3 p a:hover { color: #043852; }
#menu-bar #block-block-3 p span.ext { display: none; }

.nav { clear: both; margin: 10px 0; }
.nav ul, .nav ul.menu { margin: 0; padding: 0; }
.nav li, .nav ul.menu li { display: inline; float: left; list-style: none; margin: 0; padding: 0; }
.nav li a, .nav ul.menu li a { display: block; white-space: nowrap; padding: 0 10px; }
.nav li a:hover, .nav li a:focus, .nav ul.menu li a:hover, .nav ul.menu li a:focus { text-decoration: none; }
.nav .block { margin-bottom: 0; }

.responsive-menus.responsified { clear: none; }
.responsive-menus.responsified span.toggler { background: #0d7db3; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 0 0 transparent; -moz-box-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; }
.responsive-menus.responsified .responsive-menus-simple { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.responsive-menus.responsified .responsive-menus-simple li a { border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

#block-menu-menu-social-links ul.menu .menu-item-881 a { text-indent: -9999px; width: 40px; height: 40px; overflow: hidden; padding: 0; background: transparent url(images/social.png) no-repeat -55px 50%; }
#block-menu-menu-social-links ul.menu .menu-item-881 a:hover { background: #ed1c24 url(images/social.png) no-repeat -55px 50%; }
#block-menu-menu-social-links ul.menu .menu-item-882 a { text-indent: -9999px; width: 40px; height: 40px; overflow: hidden; padding: 0; background: transparent url(images/social.png) no-repeat -5px 50%; }
#block-menu-menu-social-links ul.menu .menu-item-882 a:hover { background: #ed1c24 url(images/social.png) no-repeat -5px 50%; }
#block-menu-menu-social-links ul.menu .menu-item-883 a { text-indent: -9999px; width: 40px; height: 40px; overflow: hidden; padding: 0; background: transparent url(images/social.png) no-repeat -105px 50%; }
#block-menu-menu-social-links ul.menu .menu-item-883 a:hover { background: #ed1c24 url(images/social.png) no-repeat -105px 50%; }

/* ============================================================================= Superfish ========================================================================== */
ul.sf-menu { margin-bottom: 0; }
ul.sf-menu a { border-left: 0; border-top: 0; padding: 0 10px; text-decoration: none; height: 2.5em; line-height: 2.5em; }
ul.sf-menu li:hover, ul.sf-menu li.sfHover { outline: 0; }
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active { outline: 0; }

/* Superfish blocks */
.block-superfish ul { margin: 0 !important; padding: 0 !important; }
.block-superfish li { margin: 0 !important; padding: 0 !important; }

/* Vertical style */
.sf-vertical { width: 100%; }
.sf-vertical li { width: 100%; }
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul { left: 100%; top: 0; margin: 0; padding: 0; }
.sf-vertical li a { padding: 0 10px; }

/* Navbar style */
.sf-navbar { padding-bottom: 0 !important; }

/* Sensible padding for the default style */
.sf-menu.sf-style-default a { padding: 0 10px; }

/* ============================================================================= Menus, usually blocks ========================================================================== */
ul.menu { padding-left: 15px; }
ul.menu ul { padding-left: 15px; }
ul.menu li { margin: 0; }

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content { padding: 0; }

/* ============================================================================= Breadcrumbs ========================================================================== */
#breadcrumb { margin: 10px 0; /* If the label is set to show in theme settings the label class is added */ }
#breadcrumb .breadcrumb-label { font-size: 1em; display: inline; padding-right: 10px; }
#breadcrumb .breadcrumb-label:after { content: ":"; }
#breadcrumb ol { margin: 0; padding: 0; }
#breadcrumb .with-breadcrumb-label ol { display: inline; }
#breadcrumb li { list-style: none; display: inline; }

/* ============================================================================= Pagers ========================================================================== */
ul.pager { clear: both; margin: 1em 0; text-align: center; }

.item-list ul.pager li { margin: 0; }

ul.pager li { background-image: none; display: inline; list-style-type: none; padding: .5em; }
ul.pager li.pager-current { font-weight: 700; }

.block ul.pager li { margin: 0; }

/* Theme the various states of pager links */
/* ============================================================================= Skip Navigation ========================================================================== */
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0; padding: 0 0.5em; position: absolute; width: 12em; z-index: 50; }
#skip-link a { background: #444; background: rgba(0, 0, 0, 0.6); color: white; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }
#skip-link a:link, #skip-link a:visited { background: #444; background: rgba(0, 0, 0, 0.6); color: white; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }
#skip-link a:hover, #skip-link a:focus, #skip-link a:active { outline: 0; }

/* ============================================================================= Tabs (local tasks) ========================================================================== */
#tasks { margin-bottom: 15px; }

ul.primary { border-bottom-color: #cfecf9; margin: 20px 0; padding: 0 0 0 5px; }
ul.primary li { display: block; float: left; margin: 0 1px -1px; }
ul.primary li a { background-color: whitesmoke; border-color: #cfecf9; margin-right: 1px; padding: 0 10px; display: block; float: left; height: 1.5em; line-height: 1.5em; }
ul.primary li a:hover, ul.primary li a:focus { background-color: #eeeeee; border-color: #cfecf9; }
ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus { background-color: white; border-bottom-color: white; }

ul.secondary { border-bottom: 1px solid #cfecf9; margin: 1em 0 0; padding: 0 .3em 1em; }
ul.secondary li { border-right: 0; list-style: none; padding: 0 10px 0 0; }
ul.secondary li a:hover, ul.secondary li a.active { border-bottom: none; text-decoration: underline; }

/* ============================================================================= Action links ========================================================================== */
ul.action-links { margin: 20px 0 0; list-style: none; }

/* ============================================================================= Field Styling ========================================================================== */
/* Wrapper for any field */
/* Above and inline classes are on the field wrapper */
/* When labels are set to inline in field display settings the clearfix class is automatically added */
/* Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues */
.field-label { font-size: 1em; font-weight: 700; font-family: inherit; line-height: inherit; margin-bottom: 0; }

/* Field types (Core) */
/* Image fields use the <figure> and <figcaption> elements from HTML5 */
/* Taxonomy */
.field-type-taxonomy-term-reference { /* The same bottom margin as p, blockquote, ul, ol and dl */ margin-bottom: 1.5em; }
.field-type-taxonomy-term-reference.field-label-inline .field-items { margin: 0; padding: 0; }
.field-type-taxonomy-term-reference.field-label-inline .field-item { display: inline; list-style: none; padding: 0 10px 0 0; }

/* Image Alignment Theme Settings - included here so you can easily override  */
/* Float none setting */
/* Float left setting */
.ia-l .field-type-image figure, .iat-l .field-type-image figure { margin: 5px 20px 15px 0; }

/* Centered setting */
.ia-c .field-type-image figure, .iat-c .field-type-image figure { margin: 5px auto 15px; }

/* Float right setting */
.ia-r .field-type-image figure, .iat-r .field-type-image figure { margin: 5px 0 15px 20px; }

/* ============================================================================= Block Styling ========================================================================== */
.block { margin-bottom: 20px; }

.block-title { margin: 0; }

.block-content ul, .block-content ol { padding: 0 0 0 15px; }
.block-content li { margin: 0; padding: 0; }

.pane-home-page-map-panel-pane-1 h2.pane-title { margin: 1.5em 0 0.5em; }

.view-nodequeue-4 .views-field-title, .view-nodequeue-5 .views-field-title, .view-nodequeue-6 .views-field-title { font-size: 1.35em; line-height: 1.2em; font-weight: bold; }
.view-nodequeue-4 .views-row, .view-nodequeue-5 .views-row, .view-nodequeue-6 .views-row { padding-bottom: 10px; }
.view-nodequeue-4 .view-footer p, .view-nodequeue-5 .view-footer p, .view-nodequeue-6 .view-footer p { text-align: right; }

.view-nodequeue-5 .views-row { position: relative; }
.view-nodequeue-5 .views-field-title a { color: #043852; padding-left: 70px; }
.view-nodequeue-5 .views-field-body { padding-left: 70px; }
.view-nodequeue-5 .views-field-field-image { display: inline; position: absolute; top: 0; left: 0; }

.cfr-pond-container .view-feartued-events .views-field-title a { font-weight: 600; }
.cfr-pond-container .view-feartued-events .view-footer { text-align: right; }
.cfr-pond-container .view-feartued-events .views-row { margin-bottom: 10px; }

.view-top-rated-problems .views-field-title-field, .pane-top-rated-problems-panel-pane-2 .views-field-title-field { font-size: 1.35em; line-height: 1.2em; font-weight: bold; }
.view-top-rated-problems .views-row, .pane-top-rated-problems-panel-pane-2 .views-row { margin-bottom: 1em; }
.view-top-rated-problems .views-field-field-image, .pane-top-rated-problems-panel-pane-2 .views-field-field-image { float: left; }

.view-cfr-home-page-map .view-footer, .view-home-page-map .view-footer { margin: 0 auto; position: relative; left: 50%; float: left; }
.view-cfr-home-page-map .view-footer .map-legend, .view-home-page-map .view-footer .map-legend { position: relative; left: -50%; height: 20px; clear: both; }
.view-cfr-home-page-map .view-footer .map-legend li, .view-home-page-map .view-footer .map-legend li { float: left; list-style-type: none; padding-left: 30px; padding-top: 2px; height: 27px; background-repeat: no-repeat; margin-right: 20px; margin-left: 0; }
.view-cfr-home-page-map .view-footer .map-legend .map-event, .view-home-page-map .view-footer .map-legend .map-event { background-image: url(/profiles/opencivic/themes/cat_man_do/images/event-legend.png); }
.view-cfr-home-page-map .view-footer .map-legend .map-problem, .view-home-page-map .view-footer .map-legend .map-problem { background-image: url(/profiles/opencivic/themes/cat_man_do/images/problem-legend.png); }

/* Problem statement table */
.view-problems-list .views-field-created { white-space: nowrap; }

.pane-block-1 a.button, #block-block-1 a.button { -moz-appearance: none; -webkit-appearance: none; background: #2fabe7; color: #fff; display: block; height: 45px; line-height: 45px; margin: .5em 0; text-align: center; vertical-align: middle; }
.pane-block-1 a.button:hover, #block-block-1 a.button:hover { background: #043852; text-decoration: none; }

/* Events map */
.view-events-map .view-footer { margin: 0 auto 20px auto; position: relative; left: 50%; float: left; }
.view-events-map .view-footer .map-legend { position: relative; left: -50%; height: 20px; clear: both; }
.view-events-map .view-footer .map-legend li { float: left; list-style-type: none; padding-left: 30px; padding-top: 2px; height: 27px; background-repeat: no-repeat; margin-right: 20px; margin-left: 0; }
.view-events-map .view-footer .map-legend .map-event-core { background-image: url(/profiles/opencivic/themes/cat_man_do/images/event-legend.png); }
.view-events-map .view-footer .map-legend .map-event-affiliate { background-image: url(/profiles/opencivic/themes/cat_man_do/images/event-legend1.png); }
.view-events-map .view-footer .map-legend .map-event-unaffiliated { background-image: url(/profiles/opencivic/themes/cat_man_do/images/event-legend2.png); }

#views-exposed-form-solr-search-page, #block-views-exp-search-page { margin: 0; }
#views-exposed-form-solr-search-page .block-inner, #block-views-exp-search-page .block-inner { margin: 0; }
#views-exposed-form-solr-search-page label.compact-form-label, #block-views-exp-search-page label.compact-form-label { color: #2fabe7; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 1.1em; font-weight: 300; left: 10px; top: 6px; }
#views-exposed-form-solr-search-page input.form-text, #block-views-exp-search-page input.form-text { background: #ececec; border: none; padding: 10px; width: 200px; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
#views-exposed-form-solr-search-page input.form-text:focus, #block-views-exp-search-page input.form-text:focus { border: none; }
#views-exposed-form-solr-search-page input.form-submit, #block-views-exp-search-page input.form-submit { display: none; }
#views-exposed-form-solr-search-page .views-exposed-form .views-exposed-widget, #block-views-exp-search-page .views-exposed-form .views-exposed-widget { float: none; padding: 0; }

.node-type-problem .sidebar .block-inner, .node-type-project .sidebar .block-inner { -webkit-box-shadow: 0 1px 8px 1px #cccccc; -moz-box-shadow: 0 1px 8px 1px #cccccc; box-shadow: 0 1px 8px 1px #cccccc; background-color: #fbfbfb; padding-bottom: 15px; }
.node-type-problem #block-views-project-at-a-glance-block-3 .block-inner, .node-type-problem #block-views-project-at-a-glance-block-3 .field-content, .node-type-problem #block-views-8a46796849269d8e113b11b88308e01c .block-inner, .node-type-problem #block-views-8a46796849269d8e113b11b88308e01c .field-content, .node-type-project #block-views-project-at-a-glance-block-3 .block-inner, .node-type-project #block-views-project-at-a-glance-block-3 .field-content, .node-type-project #block-views-8a46796849269d8e113b11b88308e01c .block-inner, .node-type-project #block-views-8a46796849269d8e113b11b88308e01c .field-content { padding-bottom: 0; }
.node-type-problem #block-views-project-at-a-glance-block-3.block, .node-type-project #block-views-project-at-a-glance-block-3.block { margin-bottom: 10px; }
.node-type-problem #block-views-project-at-a-glance-block-3 .block-content, .node-type-project #block-views-project-at-a-glance-block-3 .block-content { margin: 10px 0 0 0; }

#block-views-organization-map-block, #block-views-8a46796849269d8e113b11b88308e01c { margin-bottom: 0; }
#block-views-organization-map-block .block-content, #block-views-8a46796849269d8e113b11b88308e01c .block-content { margin: 10px 0 0 0; }

.sidebar .view-organization-related-deployments .views-row, .sidebar .view-replated-deployments .views-row { padding-left: 1.5em; position: relative; margin: 0 0 .6em 0; }
.sidebar .view-organization-related-deployments .views-row:before, .sidebar .view-replated-deployments .views-row:before { content: "\f041"; font-family: FontAwesome; position: absolute; top: 0; left: 0; }
.sidebar .view-organization-related-deployments .views-field-field-url, .sidebar .view-replated-deployments .views-field-field-url { padding: 0; }
.sidebar .view-organization-related-deployments .views-field-field-url:before, .sidebar .view-replated-deployments .views-field-field-url:before { content: ""; }
.sidebar h2.block-title { background: #2fabe7; color: #fff; font-size: 1.15em; margin: 10px 0; padding: 5px 10px; text-transform: uppercase; }
.sidebar .block-inner { margin: 0 10px; }
.sidebar .block-content { margin: 0 12px; }

.block-facetapi { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
.block-facetapi .block-inner, .block-facetapi .block-content { margin: 0; }
.block-facetapi h2.block-title { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; color: #fff; background: #0d7db3; border-bottom: 1px solid #cccccc; font-size: 1em; margin-bottom: 0; padding: 7px 15px; }
.block-facetapi ul { margin: 0 0 0.5em; padding: 0; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.block-facetapi ul li.leaf, .block-facetapi ul li.collapsed, .block-facetapi ul li.expanded { border-bottom: 1px dotted #cccccc; list-style-type: none; list-style-image: none; margin: 0; padding: 0; }
.block-facetapi ul li.leaf li, .block-facetapi ul li.collapsed li, .block-facetapi ul li.expanded li { position: relative; }
.block-facetapi ul li.leaf li a, .block-facetapi ul li.collapsed li a, .block-facetapi ul li.expanded li a { padding-left: 48px; }
.block-facetapi ul li.leaf li:before, .block-facetapi ul li.collapsed li:before, .block-facetapi ul li.expanded li:before { content: "\f178"; font-family: "FontAwesome"; color: #cccccc; position: absolute; top: 4px; left: 30px; }
.block-facetapi ul li.leaf a, .block-facetapi ul li.collapsed a, .block-facetapi ul li.expanded a { color: #043852; display: block; padding: 3px 10px 3px 25px; position: relative; }
.block-facetapi ul li.leaf a:hover, .block-facetapi ul li.collapsed a:hover, .block-facetapi ul li.expanded a:hover { color: #54a800; background: rgba(0, 0, 0, 0.05); text-decoration: none; }
.block-facetapi ul li.leaf a:hover:after, .block-facetapi ul li.collapsed a:hover:after, .block-facetapi ul li.expanded a:hover:after { content: "\f055"; color: #6edb00; font-family: "FontAwesome"; position: absolute; top: 4px; left: 6px; }
.block-facetapi ul li.leaf a.facetapi-active, .block-facetapi ul li.collapsed a.facetapi-active, .block-facetapi ul li.expanded a.facetapi-active { background: rgba(0, 0, 0, 0.15); border-bottom: 1px solid #fff; color: #333; }
.block-facetapi ul li.leaf a.facetapi-active:before, .block-facetapi ul li.collapsed a.facetapi-active:before, .block-facetapi ul li.expanded a.facetapi-active:before { -webkit-transform: scalex(0.8); -moz-transform: scalex(0.8); -ms-transform: scalex(0.8); -o-transform: scalex(0.8); transform: scalex(0.8); content: ''; position: absolute; border-style: solid; border-width: 15px 15px 15px 0; border-color: transparent rgba(0, 0, 0, 0.15); display: block; width: 0; z-index: 1; left: -12px; top: -2px; }
.block-facetapi ul li.leaf a.facetapi-active:after, .block-facetapi ul li.collapsed a.facetapi-active:after, .block-facetapi ul li.expanded a.facetapi-active:after { content: "\f00d"; font-family: "FontAwesome"; position: absolute; top: 3px; left: 6px; }
.block-facetapi ul li.leaf a.facetapi-active:hover:after, .block-facetapi ul li.collapsed a.facetapi-active:hover:after, .block-facetapi ul li.expanded a.facetapi-active:hover:after { color: red; }
.block-facetapi a.facetapi-limit-link { display: block; padding: 5px 5px 5px 30px; position: relative; }
.block-facetapi a.facetapi-limit-link:before { content: "\f150"; font-family: "FontAwesome"; position: absolute; top: 6px; left: 15px; }
.block-facetapi a.facetapi-limit-link.open:before { content: "\f151"; }

/* ============================================================================= Node Styling ========================================================================== */
.node { margin-bottom: 20px; }
.node .node-title { margin: 0; }
.node .submitted { font-size: .9em; padding: 3px 0; color: #2fabe7; }
.node .node-content h2.field-label { font-size: 1.5em; text-transform: uppercase; }

.node-type-event #content-column { min-height: 400px; }

.node-type-organization .field-name-field-image, .node-type-organization .field-name-field-logo, .node-type-application .field-name-field-image, .node-type-application .field-name-field-logo { float: left; margin: 0 15px 10px 0; }

.node-blog .field-name-field-image { float: right; margin: 0 0 10px 15px; }

.node-event .field-name-field-url h2 { margin: 0; }
.node-event .field-name-field-url .field-items { font-size: 1.5em; text-transform: uppercase; margin-left: .5em; }

.node-organizer .node-content .field-items { margin: 10px 0; }

.node-problem .field-name-body { margin: 1em 0; }

.node-dataset h2.field-label { margin: 0; }

.node-type-event .sidebar .views-field { margin: 1em 0; }
.node-type-event .field-type-date { font-size: 1.25em; }
.node-type-event .field-name-field-event-type ul { padding: 0; }
.node-type-event .field-name-field-event-type li { list-style-type: none; font-weight: bold; }

.view-problem-statement-details .views-label, .view-project-at-a-glance .views-label { color: #6e6e6e; display: block; font-weight: bold; clear: both; }
.view-problem-statement-details .field-content, .view-project-at-a-glance .field-content { display: block; padding-bottom: 8px; }
.view-problem-statement-details .view-taxonomy-icons .views-field-field-oc-small-icon, .view-project-at-a-glance .view-taxonomy-icons .views-field-field-oc-small-icon { float: left; }
.view-problem-statement-details .view-taxonomy-icons .views-field-name, .view-project-at-a-glance .view-taxonomy-icons .views-field-name { display: inline-block; clear: both; margin-left: 5px; }
.view-problem-statement-details .view-taxonomy-icons .field-content, .view-project-at-a-glance .view-taxonomy-icons .field-content { padding: 0; line-height: 29px; }

/* ============================================================================= Comment Styling - Comments, comment wrapper, comment form ========================================================================== */
/* Wrapper for the list of comments and its titles */
#comments { margin: 1.5em 0; }
#comments h2.comment-title { margin: 0; }
#comments h2.comment-form { margin: 0; }

.comment { margin-bottom: 20px; }

.comment-title { margin: 0; }

/* "New" marker for comments that are new for the current user */
.new { color: #cc0000; }

/* Nested comments are indented */
.indented { margin-left: 40px; }

/* ============================================================================= Forms ========================================================================== */
/* Wrapper for a form element (or group of form elements) and its label */
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }
.form-item label { font-weight: 700; }
.form-item .description { font-size: 0.85em; }
.form-item .form-type-checkbox label { font-weight: normal; }
.form-item input.form-checkbox, .form-item input.form-radio { margin: 0 0 3px 1em; }
.form-item input.form-text, .form-item textarea { border: 1px solid #cccccc; padding: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.form-item input.form-text:focus, .form-item textarea:focus { border-color: #6edb00; }
.form-item select { border: 1px solid #cccccc; padding: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.form-item select option { padding: 2px; }
.form-item select option:focus { background: #2fabe7 !important; }
.form-item select:focus { border-color: #6edb00; }

/* Highlight marks and form required mark */
.marker, .form-required { color: #cc0000; }

/* The submit button */
.form-submit, button { border: none; background: #2fabe7; color: #fff; padding: 6px 12px 3px; margin-right: .5em; }

.form-submit:hover, button:hover { background: #043852; }

.container-inline div, .container-inline label { display: inline; }

fieldset { border: 1px solid #cfecf9; margin: 2em 0 0; position: relative; background: rgba(236, 244, 251, 0.3); }

legend { background: #0d7db3; color: #fff; line-height: 1.1em; padding: 5px 10px; text-transform: uppercase; position: absolute; top: -10px; left: 10px; }

.fieldset-legend a { color: #fff; }

fieldset.captcha { padding-top: 1.75em; }

/* Buttons used by contrib modules like Media */
a.button { -webkit-appearance: button; -moz-appearance: button; appearance: button; }

/* Password confirmation */
.password-parent, .confirm-parent { margin: 0; }

/* ============================================================================= Tables ========================================================================== */
table { margin: 10px 0; padding: 0; width: 100%; }
table.sticky-header { z-index: 10; }

table, thead, tbody, tr, th, td { border-color: #cfecf9; }

table, td, th { vertical-align: middle; }

caption, th, td { text-align: left; }

th, thead tr { background-color: #cfecf9; color: #043852; font-size: 1em; text-transform: uppercase; border-bottom: 2px solid #a1d9f4; white-space: nowrap; }

td, th { border-bottom: 0; margin: 0; padding: 2px 7px; }

tbody tr { border-top: 1px solid #cfecf9; }

tr { /* Table row striping */ }
tr.odd { background: white; background: rgba(255, 255, 255, 0.4); }
tr.info, tr.even, tr:nth-child(2n+2) { border-bottom: 0; background-color: whitesmoke; background: rgba(236, 244, 251, 0.4); }
tr.odd td.active { background-color: #eeeeee; }
tr.even td.active { background-color: #ececec; }

tr.even, tr.odd { border-color: #cfecf9; }

/* Forum tables Core sets white-space to nowrap, which makes no sense */
#forum td .created, #forum td .posts, #forum td .topics, #forum td .last-reply, #forum td .replies, #forum td .pager { white-space: normal; }

/* ============================================================================= Messages ========================================================================== */
div.messages { margin-bottom: 10px; margin-top: 10px; }
div.messages ul { margin-top: 0; margin-bottom: 0; }

/* Unpublished nodes */
.node-unpublished p.unpublished, .comment-unpublished p.unpublished { color: pink; color: rgba(239, 170, 170, 0.4); font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; font-size: 50px; font-weight: 700; line-height: 1.2; height: 0; margin: 0; padding: 0; overflow: visible; text-align: center; text-transform: uppercase; word-wrap: break-word; }
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7 .comment-unpublished p.unpublished > * { position: relative; }

/* ============================================================================= Maintenance pages ========================================================================== */
.maintenance-page .container { padding: 40px 0; }
.maintenance-page #site-name, .maintenance-page #page-title { margin: 0; }

.db-offline .container { margin: 0 auto; padding: 40px 0; width: 100%; max-width: 960px; }
.db-offline div.messages { margin: 20px 0 0; }
.db-offline #content { padding: 20px 0; }

/* ============================================================================= Misc overrides for contrib modules ========================================================================== */
/* Admin menu overrides */
#admin-menu { margin: 0; padding: 0; }

/* Devel Module */
.dev-query { background: #eeeeee; padding: 30px; }

/* Styleguide module tweaks */
#styleguide-header { padding: 0 10px; }
#styleguide-header .item-list { font-family: inherit; margin: 0 20px 20px 0; min-height: 260px; width: auto; }

/* ============================================================================= Contrib style overrides ========================================================================== */
.calendar-calendar th.days { font-weight: normal; }

.calendar-calendar td.empty { color: #BABABA; }

.calendar-calendar .month-view .full tr td.today, .calendar-calendar .month-view .full tr.odd td.today, .calendar-calendar .month-view .full tr.even td.today, .calendar-calendar .month-view .full tr td.single-day.today, .calendar-calendar .month-view .full td.date-box.today { border-color: #6edb00; }

.multi-day .view-item a { color: #fff; text-decoration: underline; }

#block-views-exp-sols-search-page { position: absolute; top: 0; right: 0; width: 33%; }
#block-views-exp-sols-search-page label { color: #999; font-weight: normal; }
#block-views-exp-sols-search-page .views-submit-button { display: none; }
#block-views-exp-sols-search-page #edit-query-wrapper { padding: 0; width: 100%; }
#block-views-exp-sols-search-page .block-inner { margin: 0; }
#block-views-exp-sols-search-page .form-text { border: 1px solid #ccc; font-size: 1.15em; width: 100%; height: 20px; display: block; }

/* ============================================================================= AT Panels ========================================================================== */
.three-3x33 .view-application-list .views-row, .three-3x33 .view-homepage-latest .views-row { clear: both; margin-bottom: 1.5em; position: relative; }
.three-3x33 .view-application-list .views-field-title a, .three-3x33 .view-homepage-latest .views-field-title a { font-size: 1.4em; margin: 0; display: block; color: #043852; }
.three-3x33 .view-application-list .views-field-field-image, .three-3x33 .view-homepage-latest .views-field-field-image { position: absolute; top: 0; left: 0; }
.three-3x33 .view-application-list .views-field-field-address, .three-3x33 .view-homepage-latest .views-field-field-address { color: #043852; font-size: .85em; }
.three-3x33 .view-application-list .view-homepage-latest, .three-3x33 .view-homepage-latest .view-homepage-latest { padding-right: 15px; }
.three-3x33 .view-application-list h2.block-title, .three-3x33 .view-homepage-latest h2.block-title { margin: 0 0 .5em; }
.three-3x33 .view-homepage-latest.view-display-id-block .views-field-field-description { padding-left: 65px; }
.three-3x33 .view-homepage-latest.view-display-id-block .views-field-title a { padding-left: 65px; }

/* ============================================================================= View styles ========================================================================== */
.view div.feed-icon { float: right; margin-top: -3em; font-size: 1em; }
.view .view-header { clear: right; }

.view-blog .field-type-image { float: right; margin: 0 0 10px 15px; }
.view-blog .views-row { padding: 8px 0; border-top: 2px dotted #cfecf9; }
.view-blog .node-readmore a { padding: 0 10px 0 38px; height: 20px; line-height: 20px; }
.view-blog .node-readmore a:before { content: '\f061'; font-family: "FontAwesome"; }
.view-blog .comment-add a { background: none; padding: 0 10px 0 35px; height: 20px; line-height: 20px; }
.view-blog .comment-add a:before { content: '\f0e5'; font-family: "FontAwesome"; }
.view-blog ul.links.inline { line-height: 20px; margin-top: 5px; }

.view-event-sponsors-block .view-content .views-row { float: left; }
.view-event-sponsors-block .view-content .views-field { display: table; height: 100px; margin-bottom: 10px; }
.view-event-sponsors-block .view-content .views-field .field-content { width: auto; text-align: center; display: table-cell; vertical-align: middle; padding: 0 5px; }

.view-events-list table { margin-left: 10px; }
.view-events-list td { width: 50%; }
.view-events-list caption { text-transform: uppercase; font-size: 1.5em; color: #043852; margin-left: -10px; }

.view-dataset-list caption { background: #ed1c24; }
.view-dataset-list caption a { padding: 2px 25px 2px 10px; color: #fff; font-size: 1.1em; }
.view-dataset-list th { padding: 0 7px; font-size: 1.1em; }
.view-dataset-list td.views-field-created, .view-dataset-list td.views-field-field-format { width: 20%; }
.view-dataset-list td.views-field-title-1 { width: 60%; }

.view-latest-news .views-row { margin: 5px 0; }

.view-id-featured_apps .views-row { clear: both; margin-bottom: 1.5em; position: relative; }
.view-id-featured_apps .views-field-title a { font-size: 1.4em; margin: 0; display: block; color: #043852; padding-left: 70px; }
.view-id-featured_apps .views-field-body { padding-left: 70px; }
.view-id-featured_apps .views-field-field-image { position: absolute; top: 0; left: 0; }
.view-id-featured_apps .view-footer { text-align: right; }

#user-login ul.github-links { margin: 0 40px 0 0; padding: 0; }
#user-login li.github-link { float: left; list-style-type: none; width: 100%; margin: 0; }
#user-login li.github-link a { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #eeeeee; background-image: none; padding: 8px 16px 8px 40px; position: relative; width: 100%; display: block; }
#user-login li.github-link a:before { content: "\f113"; font-family: "FontAwesome"; font-size: 1.5em; position: absolute; top: 2px; left: 12px; }
#user-login li.github-link a:hover { color: #043852; background: #cccccc; }
#user-login li.github-link span.ext { display: none; }
#user-login ul.rpx-links { margin: 10px 0 20px 0; padding: 0; float: left; list-style-type: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #eeeeee; background-image: none; padding: 8px 16px 8px 0; position: relative; }
#user-login ul.rpx-links a { background-image: none; }
#user-login ul.rpx-links a:hover { color: #043852; background: #cccccc; }
#user-login ul.rpx-links span.ext { display: none; }
#user-login .form-item { clear: both; }

.view-solr-search h2.title { margin-bottom: 0; line-height: 1.25em; }

.pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-field-field-oc-icon, .pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-field-nothing { text-align: center; }
.pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-column { display: inline-block; width: 19.5%; margin: 0; padding: 0; vertical-align: top; }
.pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-column .views-field { margin: 0 auto 8px; padding: 0 10px; text-align: center; text-transform: uppercase; display: table; min-height: 35px; }
.pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-column .views-field a { color: #2fabe7; }
.pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-column .views-field a:hover { color: #6edb00; }
.pane-taxonomy-icons-panel-pane-1 .view-taxonomy-icons .views-responsive-grid .views-column .views-field .category-label { display: table-cell; line-height: 1.25em; vertical-align: middle; }

.region-footer .block-views h2.block-title { color: #cccccc; font-size: 1.5em; position: relative; text-align: center; text-transform: uppercase; }
.region-footer .block-views h2.block-title:before { content: "."; color: #fff; border-top: 1px solid #ececec; position: absolute; left: 0; top: 50%; width: 33%; }
.region-footer .block-views h2.block-title:after { content: "."; color: #fff; border-top: 1px solid #ececec; position: absolute; right: 0; top: 50%; width: 33%; }
.region-footer .block-views .view-content { *position: relative; *zoom: 1; }
.region-footer .block-views .view-content .views-row { margin-bottom: 25px; }
.region-footer .block-views .view-content .views-row .field-content { margin: 0 auto; text-align: center; vertical-align: middle; }
.region-footer .block-views .view-content:before, .region-footer .block-views .view-content:after { content: ""; display: table; }
.region-footer .block-views .view-content:after { clear: both; }

#block-views-sponsors-block-block .view-content .views-row-1 { float: left; width: 50%; margin-left: 0%; margin-right: -50%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; }
#block-views-sponsors-block-block .view-content .views-row-2 { float: left; width: 50%; margin-left: 50%; margin-right: -100%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; }

#block-views-sponsors-block-block-1 .view-content .views-row:nth-of-type(3n+1), #block-views-sponsors-block-block-2 .view-content .views-row:nth-of-type(3n+1) { clear: left; float: left; width: 33.33333%; margin-left: 0%; margin-right: -33.33333%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; }
#block-views-sponsors-block-block-1 .view-content .views-row:nth-of-type(3n+2), #block-views-sponsors-block-block-2 .view-content .views-row:nth-of-type(3n+2) { float: left; width: 33.33333%; margin-left: 33.33333%; margin-right: -66.66667%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; }
#block-views-sponsors-block-block-1 .view-content .views-row:nth-of-type(3n+3), #block-views-sponsors-block-block-2 .view-content .views-row:nth-of-type(3n+3) { float: left; width: 33.33333%; margin-left: 66.66667%; margin-right: -100%; padding-left: 5px; padding-right: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; *behavior: url("../scripts/boxsizing.htc"); _display: inline; _overflow: hidden; _overflow-y: visible; }
