/*
 * Target IE 6, 7 and 8 (less than IE9)
 */
/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/lt-ie9\.scss}line{font-family:\0000313}}
html {
  font-size: 81.3%; }
