/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 81.3%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000319}}
#menu-bar {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000322}}
.view-home-page-map {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000324}}
  .view-home-page-map .view-footer {
    background: white url(images/get-involved.png) no-repeat right top;
    height: 47px;
    line-height: 47px;
    padding-right: 140px;
    text-align: center;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000331}}
    .view-home-page-map .view-footer span {
      color: #ed1c24; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000336}}
#block-block-4 {
  clear: left;
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000340}}
#block-ndch-stats-ndch-stats {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000344}}
#block-views-homepage-latest-block-2 {
  clear: left;
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000350}}
.front #block-block-5,
.front #block-twitter-block-default,
.front #block-views-hashtags-block {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: none; }

/*
 * home page options
 * 
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000359}}
#block-block-2 {
  *position: relative;
  *zoom: 1;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/Scout\.app\/Contents\/Resources\/vendor\/gems\/gems\/zen-grids-1\.2\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000352}}
  #block-block-2:before, #block-block-2:after {
    content: "";
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/Scout\.app\/Contents\/Resources\/vendor\/gems\/gems\/zen-grids-1\.2\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000356}}
  #block-block-2:after {
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000362}}
  #block-block-2 .option1 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    background: url("images/plan.png") no-repeat scroll 50% 0 transparent;
    padding: 70px 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000367}}
  #block-block-2 .option2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    background: url("images/support.png") no-repeat scroll 50% 8px transparent;
    padding: 70px 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000372}}
  #block-block-2 .option3 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    background: url("images/contribute.png") no-repeat scroll 50% 0 transparent;
    padding: 70px 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000378}}
  #block-block-2 .option4 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    background: url("images/participate.png") no-repeat scroll 50% 0 transparent;
    padding: 70px 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000386}}
#block-block-7 .view-content .views-field-field-logo {
  width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000389}}
#block-block-7 h2 {
  width: 47%;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000393}}
#block-block-7 h3 {
  width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000398}}
#block-views-exp-sols-search-page {
  position: inherit;
  background: transparent url(images/somewhere-near-you.png) no-repeat 0 0;
  padding: 0 0 0 55%;
  height: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jday\/Vagrant\/vagrant-drupal\/web\/ndch\/profiles\/opencivic\/themes\/cat_man_do\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\00003103}}
  #block-views-exp-sols-search-page .form-text {
    width: auto; }
